CREATE DATABASE QUANLYDIEMSV
USE QUANLYDIEMSV

CREATE TABLE DMKHOA
(
	MAKHOA CHAR(2) PRIMARY KEY NOT NULL,
	TENKHOA NVARCHAR(30),
)

	SELECT * FROM DMKHOA
	DELETE FROM DMKHOA
INSERT INTO DMKHOA VALUES('AV',N'Anh văn')
INSERT INTO DMKHOA VALUES('TH',N'Tin học')
INSERT INTO DMKHOA VALUES('TR',N'Triết')

CREATE TABLE DMSV
(
	MASV CHAR(3) PRIMARY KEY NOT NULL,
	HOSV NVARCHAR(30) NOT NULL,
	TENSV NVARCHAR(20) NOT NULL,
	PHAI INT NOT NULL,
	NGAYSINH DATETIME,
	NOISINH NVARCHAR(25) NOT NULL,
	HOCBONG FLOAT,
	MAKHOA CHAR(2) CONSTRAINT RB_MAKHOA FOREIGN KEY (MAKHOA) REFERENCES DMKHOA(MAKHOA),
)

	SELECT * FROM DMSV
	DELETE FROM DMSV
INSERT INTO DMSV VALUES('A01',N'Nguyễn Thị',N'Hải','1','23/02/1993',N'Hà Nội','TH','130000')
INSERT INTO DMSV VALUES('A02',N'Trần Văn',N'Chính','0','24/12/1992',N'Bình Định','VL','150000')
INSERT INTO DMSV VALUES('A03',N'Lê Thu Bạch',N'Yến','1','21/02/1993',N'TP HCM','TH','170000')

CREATE TABLE DMMH
(
	MAMH CHAR(2) PRIMARY KEY NOT NULL,
	TENMH NVARCHAR(30) NOT NULL,
	SOTIET INT NOT NULL,
)

	SELECT * FROM DMMH
	DELETE FROM DMMH
	
INSERT INTO DMMH VALUES('01',N'Cơ sở dữ liệu', '45')
INSERT INTO DMMH VALUES('02',N'Trí tuệ nhân tạo', '45')
INSERT INTO DMMH VALUES('03',N'Truyền tin', '45')

CREATE TABLE KETQUA
(
	MASV CHAR(3),
	MAMH CHAR(2),
	LANTHI INT,
	DIEM DECIMAL(4,2),
	CONSTRAINT RB_KQ PRIMARY KEY(MASV, MAMH, LANTHI)
)

	SELECT * FROM KETQUA
	DELETE FROM KETQUA
INSERT INTO KETQUA VALUES('A01','01','1','3')
INSERT INTO KETQUA VALUES('A01','01','2','6')
INSERT INTO KETQUA VALUES('A01','02','2','6')
